.comments_modal {
    box-shadow: 0 0 1px 1px #d7d1d1;
    position: fixed;
    right: -500px;
    top: 65px;
    bottom: 0;
    width: 500px;
    background: white;
    z-index: 100;
    padding: 30px;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.open{
      right: 0;
      .comments_modal__close{
        display: block;
      }
    }
    &__close{
      display: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white;
      border: 1px solid #d7d7d7;
      position: absolute;
      left: -50px;
      top: 10px;
      transition: all .3s ease;
      cursor: pointer;
      &:after, &:before{
        content: '';
        width: 50%;
        height: 2px;
        background: #d7d7d7;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        transform: rotate(-45deg);
      }
      &:before{
        transform: rotate(45deg);
      }
      &:hover{
        border: 1px solid black;
        &:after, &:before{
          background: black;
        }
      }
    }
    .form__textarea {
      display: block;
      margin: 10px 0 20px;
      width: 100%;
      height: 100px;
      resize: none;
      padding: 10px;
    }
    .task-comments {
      border: 2px dashed #e4dede;
      margin: 0 0 50px;
      border-radius: 10px;
      flex: auto;
      overflow-y: auto;
    }
    .comment {
      border: 1px solid #DDD;
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      &-date{
        text-align: right;
        font-size: 0.8em;
        float: right;
      }
      &-user{
        display: flex;
        align-items: center;
        .user-avatar{
          width: 40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 10px;
        }
        .user-fio{

        }
      }
      &-text{
        background: #f6f5f5;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        margin-top: 10px;
      }
    }
}
