.comment-open-icon{
  position: relative;
  width: 32px;
  font-size: 28px;
  float: right;
  color: #009aff;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  &:hover{
    color: #009aff;
  }
  &.no-empty{
    display: inline-block;
  }
  &-count{
    font-size: 0.40em;
    background: #009affba;
    border-radius: 50px;
    display: flex;
    min-width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: white;
    right: -5px;
    padding: 0 4px;
  }
}
