.custom-select{
  position: relative;
  select{
    display: none;
  }
  .select-selected,
  .select-item{
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-size: 12px;
    cursor: pointer;
    &.await {
      background: gray;
    }
    &.request {
      background: #ec5a5a;
    }
    &.work {
      background: #09a2f2;
    }
    &.ready {
      background: #59d42e;
    }
    &.hide{
      display: none;
    }
  }
  .select-items{
    cursor: pointer;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    &.select-hide{
      display: none;
    }
  }
  .select-item:hover{
    background: #ffffff30;
  }
}
